body {
    margin: 0;
}
#carousel {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    border: solid;
}
#carousel ul {
    width: 2000px;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    display: flex;
    flex-direction: row;
}
#carousel ul li {
    width: 400px;
    height: 400px;
    list-style: none;
}
